.nav{
    margin-left: 90%;
}

.main-box{
    background-color: #307034;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border-color: black;
    border-style: solid;
    border-width: 15px;
}

.table{
    width: 100%;
}

.bets{
    display : flex;
    text-align:justify;
    justify-content: space-between;
    margin: 10px;


}

.dealer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --background-color: #c97e7e;
}
.player{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    --background-color: #7e7ec9;
}

.controls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bets{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.result{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img{
    width: 150px;
    height: 150px;
}

.btn-connect{
    background-color: #84c97e;
    color: rgb(14, 14, 14);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 150px;
    --margin-left: 90%;
}


.btn-hit{
    background-color: #dd3d3d;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
.btn-stand{
    background-color: #0d335e;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 100px;
}
.btn-double{
    background-color: #7c33ac;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 120px;
}


.btn-new{
    background-color: #49d142;
    color: rgb(32, 31, 31);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 120px;
}


h1{
    font-size: 50px;
    font-weight: bold;
}
h2{
    font-size: 30px;
    font-weight: bold;
}
h3{
    font-size: 20px;
    font-weight: bold;
}
